<div class="container text-center" style="background-image: url('<%= asset_path('proust_poem.jpg') %>'); background-size: cover; background-position: center; height: 100vh;">
  <div class="d-flex flex-column justify-content-center align-items-center h-100 text-white">
    <h1 class="display-4 font-weight-bold">Proust Poem</h1>
    <p class="lead">これは感覚と記憶を記録するアプリケーションです。</p>
  </div>
</div>