<% content_for :title, "Editing poem" %>

<h1><%= t('views.posts.edit.title') %></h1>

<%= render "form", poem: @poem %>

<br>

<div>
  <%= link_to t('views.defaults.show'), @poem %> |
  <%= link_to t('views.defaults.back'), poems_path %>
</div>
