<% content_for :title, t('views.posts.new.title') %>

<h1><%= t('views.posts.new.heading') %></h1>

<%= render "form", poem: @poem %>

<br>

<div>
  <%= link_to t('views.posts.new.back'), poems_path, class: "btn btn-secondary" %>
</div>
