<% content_for(:title, '遊び方') %>
<div class="container mt-4">
  <h1 class="text-center mb-4">
    プルーストポエムとは？
  </h1>

  <div class="card p-4">
    <h2>プルースト効果</h2>
    <p>プルースト効果とは？プルースト効果とは、特定の香りを嗅いだとき、<br>
    その香りに紐づいた過去の記憶や感情が無意識に呼び起こされる現象を指します。 <br>
    香りは五感の中でも特別で、視覚・聴覚・触覚・味覚による刺激が理性を司る大脳新皮質に送られるのに対し、<br>
    嗅覚は感情や本能を司る大脳辺縁系に直接作用します。<br>
    そのため、香りは記憶や感情と深く結びついており、心に強く残るのです。 <br>
    さらに、香りは「沈黙の言葉（サイレントランゲージ）」とも呼ばれ、音や文字にはできない形で感情や記憶を伝える力を持っています。</p>
  </div>

  <div class="card p-4 mt-3">
    <h2>ポエムの書き方</h2>
    <ul>
      ・香りと感情を記録する体験 あなたは特定の香りを嗅ぎ、その瞬間に感じた感情や思い出をアプリに記録します。<br>
      その際、香りの種類（例：ラベンダー、コーヒーの香り、図書館、アスファルトが焼ける）を記入し、<br>
      自分の言葉でポエムや日記のように記録を残します。<br>
      ・香りと記憶の振り返り 記録されたデータはタイムライン形式で閲覧可能。<br>
      過去に記録した香りや感情を振り返り、日々の変化や記憶を再体験することができます。
    </ul>
  </div>
</div>